/* Come back to. Put brand icons on the circles*/
/*Style all font icons */
.icon {
    align-items: space-evenly;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 30px;
    height:50px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius:50% ;
  }
  /* hover effect*/
  .icon:hover {
    opacity: 0.7;
  }
  /* Set a specific color for each brand */
  
  /* Facebook */
  .icon-facebook {
    background: #3B5998;
    color: white;
  }
  /* LinkedIn */
  .icon-linkedin {
    background: #55ACEE;
    color: white;
  }
  /*GitHub*/
  .icon-github{
      background-color: black;
      color: white;
  }
 