body {
    font-family: garamond;
    padding: 20px;
    background: #f1f1f1;
  }
/* Style the header */
.header {
    background-color: #f1f1f1;
    padding-top: 1px;
    padding-bottom: 12px;
    text-align: center;
    font-style: garamond;
    border-bottom: rgba(0, 0, 0, 0.541);
    font-weight: 100;
    font-size: 30px;
    font-stretch: extra-expanded;
    font-variant: small-caps;
  }
/*style the horizontal rule*/
  hr{
    height: 1px;
        background-color:rgba(0, 0, 0, 0.096);
        border: black;
  }
/*Style headings*/
h1{
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: underline #756d645d;
}
h4{
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: underline #756d645d;
  
}
h5{
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 3px;
  text-align: center;
}
/*Style paragraphs*/
p{
font-size: 20px;
text-align: center;
}
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #f1f1f1;
  }
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: rgba(0, 0, 0, 0.849);
    text-align: center;
    font-size: 15px;
    padding: 12px 14px;
    text-decoration: underline;
  }
  /* Change color on hover */
  .topnav a:hover {
    background-color:#faddb71f;
    color: black;
  }
  /*---button style--*/
    .button {
      background-color: #faddb70a;
      border: none;
      color: black;
      padding: 4px 15px;
      position: relative;
      text-align: center;
      float: left;
      text-decoration: underline;
      display: block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
    }

  /*Nav bar hover effect*/
    .button:hover {background-color: #faddb74b}

    .button:active {
     background-color: #faddb744;
     box-shadow: 0 5px #faddb741;
     transform: translateY(4px);
    }
   
/* Container needed to position the button. Adjust the width as needed */
  .flex-container{
    font-weight: lighter;
    position: relative;
    display: flex;
    height:fit-content;
    justify-content: center;
    background-color: #faddb72d;
  }
  .flex-container > div {
    font-weight: lighter;
    background-color: #faddb72d;
    width: 500px;
    height: 100%;
    margin: 5px;
    padding: 50px;
    font-size: 30px;
  }
  .flex-container-two{
    font-weight: lighter;
    position: relative;
    display: flex;
    height: 500px;
    justify-content: center;
    background-color: #faddb727;
  }
  .flex-container-two .btn:hover {
    display:block;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #faddb727;
    font:garamond;
    font-kerning: 5% ;
    color: rgb(27, 27, 27);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
  }
  .btn:active{
    background-color: #faddb727;
    display: block;
    position: absolute;
  }

  .box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faddb727;
  }
  .box div{
    width: 100%;
    height: 200px;
  }

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: #faddb72d;
}
  /* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Add a card effect for articles */
  .card {
    background-color: #faddb72d;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-content: center;

  }
  figcaption {
    background-color: #faddb72d;
    color: black;
    font-size: 15;
    letter-spacing: 3px;
    font-style: normal;
    padding: 2px;
    text-align: center;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /*grid container for Get to know more about me section on homepage*/
  .grid-container {
    display: grid;
    grid-template-columns: 200;
    grid-template-rows: 200px 10px;
    grid-gap: 20px;
    height: 200px;
    border: 10px;
    background-color: #faddb72d;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: #faddb72d;
    color: rgba(0, 0, 0, 0.795);
    text-align: center;
    font-weight: bold;
    text-decoration: underline #756d645d;
    letter-spacing: 3px ;
    padding: 20px 0;
    font-size: 30px;
  }
   
  .button {
    background-color: #faddb700;
    border: 1px;
    color: rgba(0, 0, 0, 0.671);
    padding: 30px 52px;
    text-align: center;
    text-decoration: underline black;
    display: inline-block;
    font-weight: 515;
    top: -130;
    height: 50px;
    font-size: 18px;
    margin: 4px 4px 4px 4px;
    cursor: pointer;
  }
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #faddb700;
    margin-top: 20px;
  }
  .imgATT{
    justify-content: center;
    text-align: center;
  }
  .imgPaws{
    text-align: center;
  }
  a{
    color: black;
    font-size: 15px;
    text-align: right;
  }
  /*images*/
  .four{
    display: block;
    margin-left: 370;
    height:300px;
    width: 408px;
    left: 19.5%;
    top: 268;
  }
 .five{
   display:block;
   margin-left:0;
   left:0;
   position:absolute;
   top:-35;
   opacity: 0.8;
 }

  
  